[Unit]
Description=Run Bizgenciz health check every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=bizgenciz-health.service

[Install]
WantedBy=timers.target


